/* RESET */
* {
  margin: 0;
  padding: 0;
}

html, body {
	background: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container .login-container {	
	width: 100%;
	height: auto;
	border: 1px solid #011137;
	max-width: 402px;
	border-radius: 10px;	 
	background: rgba(1,17,55,1);
	background: -moz-linear-gradient(top, rgba(1,17,55,1) 0%, rgba(3,3,3,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,17,55,1)), color-stop(100%, rgba(3,3,3,1)));
	background: -webkit-linear-gradient(top, rgba(1,17,55,1) 0%, rgba(3,3,3,1) 100%);
	background: -o-linear-gradient(top, rgba(1,17,55,1) 0%, rgba(3,3,3,1) 100%);
	background: -ms-linear-gradient(top, rgba(1,17,55,1) 0%, rgba(3,3,3,1) 100%);
	background: linear-gradient(to bottom, rgba(1,17,55,1) 0%, rgba(3,3,3,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011137', endColorstr='#030303', GradientType=0 );
}

.login-container .login-img {
	margin: auto;
	padding: 0;
	width: auto;
	clip-path: circle(0 0, 44% 100%, 100% 0);
}


.login-container .login-fields {
	width: 400px;
	height: 300px;	
	border-top: 0;
	margin: auto;
	padding: 36px;
	line-height: 40px;	
}

.login-container input[type=text],
.login-container input[type=password] {
	background: #333;
	color: white;
	padding: 4px 10px;
	border: none;
	width: 100%;	
	background: transparent;
	/*border-bottom: 1px solid #922D5A;*/
	border-bottom: 1px solid #5C3566FF;
}

.login-container input[type=password] {margin-top: 16px}

input:before {
	border-bottom: 1px solid orange!important;
}

.title-login {
	margin: 26px;	
	/*color: #922D5A;*/
	color: #75507BFF;
	text-align: center;
	font-size: 2.5em;
}

.nobile-font {
	font-family: 'Nobile', sans-serif;
}

.frederika-font {
	font-family: 'Fredericka the Great', cursive;
}
.cinzel-font {
	font-family: 'Cinzel Decorative', cursive;
	/*font-weight: bold;*/
}
.marcelus-font {
	font-family: 'Marcellus SC', serif;
}

::placeholder {
	font-size: 14px;
	opacity: .5;
}

*:focus, active {
    outline: none;
}

input:focus::placeholder {
	position: absolute;
    color: #922D5A;
    font-size: 12px;
    opacity: 1;
    transition: all .4s ease;
    animation: none!important;
}